body, html {
	height: 100%;
	margin: 0;
	padding: 0;
}

.bg {
	background-image: url("../images/background.jpg");
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#main-texts {
	position: relative;
	top: 100px;
}

#main-title {
	font-family: "Lucida Console";
	color: black;
	font-size: 50px;
	margin-bottom: 10px;
}